[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Sim.DiffProc"]
	path = Sim.DiffProc
	url = https://github.com/acguidoum/sim.diffproc
